.transactionCard {
  display: flex;
  justify-content: center;
  width: calc(50em/2);
  background-color: #fdfbfb;
  border: 1px solid #f4f1f1;
  cursor: pointer;
  font-size:20px;

}

@media only screen and (max-width: 600px) {
  .transactionCard {
    font-size:12px;
  }
}
