.transactions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.transactionCard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid #f0e2e7;
  border-bottom: 1px solid #f0e2e7;;
  cursor: pointer;
  height:6em;
  font-size: 17px;

}


.transactionCard .action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:4px;
  color: white;
  font-weight: bold;
  width:4em;
  height: 4em;
  border-radius: 50%;
  margin: 10px 8px 0px 5px ;
}

.transactionDetails {
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 16px;
}
.transactionDetails > div:first-child {
  font-weight: bold;
}
.transactionDetails span {
  font-size: 12px;
}

.green {
  background-color: #2ecc71;
}

.red {
  background-color: #ff3838;
}

@media only screen and (max-width: 600px) {
  .transactionCard {
    width: 100%;
    font-size: 12px;
  }

}