.navBar {
  display: flex;
  justify-content: space-between;
  background-color: #041484;
  align-items: center;
  font-size: 1rem;
}

.navBar li {
  list-style-type: none;
  color: #f2f2f2;
  padding: 40px 20px 0px 20px;
}
.navBar Link {
  border: 10px solid;
}
.navBar li a:hover {
  color: #e30464;
}

.logo {
  width: 50px;
}

.homeHeader {
  grid-column: 1 / 5;
  grid-row: 1;
}
.homeLogin {
  grid-column: 1;
  display: flex;
}
.homeLogin > img {
  border-radius: 50%;
  padding: 10px 10px;
}
