.navBar {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 85px;
  background-color: #1d1283; 
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navBar ul li:nth-last-child(-n+3){
  float: right;
}

.navBar ul li {
  float: left;
}

.navBar li .active {
  color: #88D870;
  text-decoration: underline;
  text-underline-offset: 0.75em;
}

.navBar li .logo {
  padding: 20px 20px 15px;
}

.navBar li .btnLogin {
  padding-top: 30px;
}

.navBar li a {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 35px 20px 10px;
  text-decoration: none;
}

.navBar li a:hover {
  color: #87d870;
}

.btnLogin {
  font-size: 18px;
  float: right;
}

.loginBtnText {
  font-size: 16px;
  border-radius: 6px;
  padding: 0.3rem;
  background-color: #041484;
  color: white;
  cursor: pointer;
  border: 2px solid white;
}

.githubLogo {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}

.userGreet {
  display: none;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 30px 20px 10px;
  text-decoration: none;
}

.userProfilePic {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  display: inline;
  vertical-align: middle;
}
.userGreetMsg {
  font-size: 1em;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.profilePic {
  display: none;
  margin-right: 1em;
  width: 4em;
  height: 4em;
}
.profilePic>img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.dropdownContent {
  position: absolute;
  right: 5px;
}
.dropdownContentHide {
  display: none;
}
.dropdownContent {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.699);
  z-index: 1;
}
.dropdownContent a {
  color: black;
  padding: 5px 0;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  display: block;
}
.dropdownContent a:hover {
  background-color: #e4e2e2
}

@media screen and (max-width: 500px) {
  .navBar li .logo {
    padding: 4px 4px 100%;
  }
  .navBar ul li:nth-last-child(-n+3){
    float: left;
  }

  .navBar li a {
    padding: 18px 14px;
  }
} 