.filter {
  float: right;
  position: relative;
  top: -10px;
  cursor: pointer;
}

.showList li {
  list-style-type: none;
  padding: 7px;
  background-color: #fff;
}

.showList li:hover {
  background-color: #bdc3c7;
}

.showList {
  display: inline-block;
  position: absolute;
  width: 200px;
  top: 25px;
  right: 15px;
  z-index: 5;
  font-weight: bold;
  border: 2px solid;
  font-size: 14px;
}

.hideList {
  display: none;
}
