.filter {
  float: right;
  position: relative;
  top: -10px;
  cursor: pointer;
}
.filterContent {
  display: none;
  position: absolute;
  width:  150px;
  top: 25px;
  right: 15px;
  z-index: 5;
  font-weight: bold;
  border: 2px solid;
  font-size: 14px;
}
.filterContent li {
  list-style-type: none;
  padding: 7px;
  background-color: #fff;
}
.filterContent li:hover {
  background-color: #bdc3c7;
}
.showList {
  display: inline-block;
}
