.currency {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #c1bdd44a;
  border-radius: 10px;
  padding: 1rem 0;
  max-width: 150px;
}

.logo {
  font-size: 1.25rem;
}

.value {
  font-weight: bold;
  font-size: 1.5rem;
}

.value > span {
  font-weight: 400;
  font-size: 0.8rem;
}

.rate {
  font-size: 0.7rem;
  text-align: right;
  margin-left: auto;
  margin-top: 0.5rem;
}

.rate > span {
  color: green;
  font-weight: bold;
}
