.transaction {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 2% 25%;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.usersInvolved {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.amount {
    font-size: 1.5rem;
}
  
#message {
    text-align: center;
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1200px) {
    .transaction {
        margin: 2% 20%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .transaction {
        margin: 2% 15%;
    }
}

@media only screen and (min-device-width : 520px) and (max-device-width : 768px) {
    .transaction {
        margin: 2% 5%;
    }
}

@media only screen and (max-device-width : 520px) {
    .transaction {
        margin: 2% 2%;
    }
}