.newAuctionBtnContainer {
  text-align: center;
}

.newAuctionButton { 
  font-weight : 600 ;
  height : 60px;
  font-size : 30px ;
  border: none;
  text-align :center;
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  background-color:rgb(106, 144, 226);
  text-decoration-color: rgb(255, 255, 255);  
} 

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.auctionContainer {
  display: flex;
  width: 70%;
  background-color: rgb(245, 235, 235);
  justify-content: space-around;
  align-items: center;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 0 15px -7px rgba(0,0,0,.65);
  margin-bottom: 20px;
  padding: 50px 0;
}

.auctionSeller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auctionSeller {
  width: 100px;
}

.itemInfo {
  display: flex;
  justify-content: center;
}

.gemImage {
  margin-top: 20px;
}

.currentBidPrice {
  font-weight: 400;
}

.bidOptions {
  display: flex;
  flex-direction: column;
}

.inputBid {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  width: 150px;
}

.bidBtn {
  height: 50px;
  width: 150px;
  margin-top: 10px;
  color: white;
  border-color: rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  background-color: #42a742;
}

.bidBtn:hover {
  height: 50px;
  box-shadow: 0 0 15px -7px rgba(0,0,0,.65);
  cursor: pointer;
}

.bidders {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
}

.profilePhoto {
  border-radius: 50%;
  width: 100%;
}

.biddersImg {
  margin-left: 10px;
}

.biddersImg[data-columns="2"]{
  width: calc(160px/2);
}
.biddersImg[data-columns="3"]{
  width: calc(160px/3);
}
.biddersImg[data-columns="4"]{
  width: calc(160px/4);
}
.biddersImg[data-columns="5"]{
  width: calc(160px/5);
}
.biddersImg[data-columns="6"]{
  width: calc(160px/6);
}
.biddersImg[data-columns="7"]{
  width: calc(160px/7);
}

@media only screen and (max-width: 1200px) {
  .auctionContainer {
    width: 85%;
  }

  .bidBtn {
    width: 100px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 900px) { 
  .bidders {
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .auctionContainer {
    flex-direction: column;
    width: 60%;
  }

  .itemInfo {
    justify-content: center;
  }

  .bidBtn {
    width: 150px;
    margin-bottom: 20px;
  }

  .bidders {
    width: 80%;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .auctionContainer {
    width: 90%;
  }
}