html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #e9ebff;;
  min-height: 100%;
}
@media only screen and (min-width: 905px) {
  html,
  body {
    min-height: 100%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.text-gray {
  color: #363636;
}
.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding: 0 30px 20px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}
.card:hover {
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.65);
}
.icon {
  width: 25px;
  margin-right: 15px;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}
.userName {
  font-weight: bold;
  font-size: 20px;
  color: #7f8c8d;
}
footer {
  width: 100%;
  text-align: center;
  font-weight: 100;
  margin-top: 50px;
  padding-bottom: 30px;
}

footer a {
  text-decoration: underline;
}
.main-container {
  height: 100%;
}
.content {
  min-height: 92vh;
  padding-bottom: 50px;
}
.d-none{
  display: none !important;
}
.d-block{
  display: block !important;
}