
.container {
  /* Variables */
  --gold: #ffd700;
  --dark-gold: #e6c401;
  --silver: #c0c0c0;
  --dark-silver: #a8a8a8;
  --bronze: #cd7f32;
  --dark-bronze: #ae7235;
}

.content {
  flex-shrink: 1;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin:3rem 1.5rem 0 1.5rem;
  width:6em;
}
.greenButton {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}
.redButton {

  background-color: #ff3838;
  border: 1px solid #ff3838;
}
.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}
.card:hover {
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.65);
}

.mainBody{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0.5em;
  width: 100%;
  overflow: hidden;
}

.homeUser {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0.7em;
}

.homeTransaction {
  /* grid-column: 2 / 5;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
  gap: 5px; */
  display: flex;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
}

.transactionGraph {
  grid-row: 1/2;
}

.transactionMenu {
  grid-row: 2/3;
}

.homeFooter {
  grid-row: 4;
  grid-column: 1/5;
}

@media only screen and (max-width: 650px) {
  .homeUser {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .homeTransaction {
    /* grid-column: 1/5;
    grid-row: auto; */
    display: flex;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
  }
}