.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  padding: 20px;
}

.branding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
}

.rdsName {
  font-size: 35px;
  font-weight: bold;
  color: #e20665;
  padding: 0 10px;
}

.coins {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
  flex-wrap: nowrap;
}

.coin {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px;
}

.gold {
  background-color: #FFD700;
}

.silver {
  background-color: #C0C0C0;
}

.bronze {
  background-color: #cd7f32;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar {
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.greenButton {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}

.redButton {
  color: white;
  background-color: #ff3838;
  border: 1px solid #ff3838;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
}

.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.card:hover {
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.65);
}

.content {
  flex-shrink: 1;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .coins {
    padding-top: 20px;
    justify-content: space-evenly;
    align-self: center;
  }
  .card {
    width: 100%;
  }
}