.leftSection {
  display: flex;
  flex-direction: column;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 1.5rem 1.5rem 0 1.5rem;
  width: 7rem;
}
.greenButton {
  background-color: #2ecc71;
  text-align: center;
  border: none;
}
.redButton {
  background-color: #ff3838;
  text-align: center;
  border: none;
}
.card {
  min-width: 20em;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  padding: 1px;
  background: white;
  font-size: 20px;
}
.heading {
  display: flex;
  justify-content: space-between;
  height: 30px;
}
.heading>p {
  font-weight: bold;
  transform: translateX(10px);
  font-size: 16px;
}
.mainBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0.5em;
  width: 100%;
  overflow: hidden;
}
.homeUser {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0.7em;
  margin-left: -30px;
}
.homeTransaction {
  margin-top: 20px;
}
.transactionMenu {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .button {
    margin-left: 3.2rem;
  }
  .greenButton {
    padding: 5px 15px;
    width: 6rem;
  }
  .redButton {
    padding: 5px 15px;
    width: 6rem;
  }
  .homeUser {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    font-size: 12px;
  }
  .transactionMenu {
    margin-top: 20px;
    width: 300px;
  }
}
