.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sidebar {
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #e20665;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.greenButton {
  background-color: #2ecc71;
  border: 1px solid #2ecc71;
}

.redButton {
  color: white;
  background-color: #ff3838;
  border: 1px solid #ff3838;
}

.icon {
  width: 25px;
  margin-right: 15px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.card {
  margin: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.card:hover {
  box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.65);
}

.content {
  flex-shrink: 1;
}